<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        p {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            font-size: 60px;
            color: rgb(249, 166, 57);
            margin-top: 15%;
        }
    </style>
</head>
<body>
    <h1>
        Welcome , Admin
    </h1>
    <center><p>The Flag in here , can you get it ?!!</p></center>
    <script src="/static/src.js"></script>
</body>
</html>